:root {
  --dark: #262522;
  --bg-color: #f0ebe1;
  --green: #9fdc26;
  --orange: #ee6352;
  --orange-ligth: #f29c33;
  --blue: #c4e5fc;
  --white: #fffbf2;
  --font-family: 'Roboto', sans-serif;
  --montserrat-family: 'Montserrat', sans-serif;
  --homemade-family: 'Homemade Apple', sans-serif;
}
