.favorit-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  padding: 40px 16px 16px 16px;
  border: 1px solid rgba(38, 37, 34, 0.24);
  border-radius: 32px;

  @include small-laptop {
    padding: 32px 16px 16px 16px;
  }

  @include tablet {
    margin-bottom: 14px;
    padding: 26px 14px 14px 14px;
  }

  // .favorit-recipes__title

  &__title {
    width: 100%;
    padding-left: 40px;
    text-align: start;
    font-family: var(--montserrat-family);
    font-weight: 700;
    @include fluid-font-size(32px, 40px);
    line-height: 100%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--dark);

    @include small-laptop {
      padding-left: 32px;
    }

    @include tablet {
      padding-left: 22px;
    }

    @include big-mobile {
      padding-left: 0;
      text-align: left;
      margin-bottom: 12px;
    }
  }

  // .favorit-recipes__container

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @include small-laptop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      gap: 12px;
    }

    @include big-mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
